<div class="layout-container">
  <app-sidenavbar-content></app-sidenavbar-content>
  <div class="main-content">
    <app-toolbar-content></app-toolbar-content>
    <app-search-bar-content></app-search-bar-content>
    <mat-grid-list class="custom-grid" cols="1" rowHeight="300px"  gutterSize="4px">
      <mat-grid-tile *ngFor="let lifecycle of lifecycleItems">
        <div class="mat-grid-tile-content">
          <mat-card>

            <div class="card-header">
              <img mat-card-image [src]="lifecycle.image" alt="Photo of a plant" class="image-garden">
              <mat-card-title>{{lifecycle.name_plant}}</mat-card-title>
            </div>

            <mat-card-content class="plant-description">{{lifecycle.plant}}</mat-card-content>

            <div class="icons">
              <mat-icon>broken_image</mat-icon>
              <mat-icon>brightness_6</mat-icon>
              <mat-icon>brightness_7</mat-icon>
            </div>

            <mat-progress-bar mode="determinate" [value]="lifecycle.value"></mat-progress-bar>

            <mat-card-content class="plant-time">{{lifecycle.time}}</mat-card-content>
          </mat-card>
        </div>
        <button mat-button class="custom-button">Ver Detalles</button>

      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
