<div class="layout-container">
  <app-sidenavbar-content></app-sidenavbar-content>
  <div class="main-content">
    <app-toolbar-content></app-toolbar-content>
    <mat-grid-list cols="2" rowHeight="1:1" gutterSize="16px">
      <mat-grid-tile>
        <mat-card class="freemium">
          <mat-card-title>
            GreenCare Free
          </mat-card-title>
          <mat-card-content class="font-bold">
            S/ 0.00 / month
          </mat-card-content>
          <mat-card-content>
            Garden limit
          </mat-card-content>
          <mat-card-content>
            Five life cycles available
          </mat-card-content>
          <mat-card-content>
            Recommendation for each plant
          </mat-card-content>
          <div class="custom-button">
            <button>Go it</button>
          </div>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class="premium">
          <mat-card-title>
            GreenCare Premium
          </mat-card-title>
          <mat-card-content class="font-bold">
            S/ 15.00 / month
          </mat-card-content>
          <mat-card-content>
            Garden unlimited
          </mat-card-content>
          <mat-card-content>
            Life cycles unlimited
          </mat-card-content>
          <mat-card-content>
            Recommendation for each plant
          </mat-card-content>
          <div class="custom-button">
            <button>Let's start!</button>
          </div>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
