.layout-container {
  display: flex; /* Utiliza Flexbox para la disposición */
}

app-sidenavbar-content {
  width: 200px; /* Ancho fijo para el sidenav */
  background-color: #8A9A5B; /* Color del sidenav */
}

.main-content {
  flex: 1; /* Toma el espacio restante */
  display: flex;
  flex-direction: column; /* Para apilar el toolbar y el contenido principal */
  padding-top: 20px; /* Agrega espacio en la parte superior */
}


.main-content > *:not(app-toolbar-content) {
  flex: 1; /* Esto permite que el contenido principal tome el resto del espacio */
  padding: 16px; /* Espaciado interno del contenido */
}
.freemium{
  height: 80%; /* Asegura que la tarjeta ocupe toda la altura disponible */
  width: 60%;
  display: flex;
  flex-direction: column; /* Permite que el contenido se apile verticalmente */
  justify-content: center; /* Centra el contenido verticalmente */
  padding: 16px; /* Espaciado interno */
  border: 1px solid #ccc; /* Borde opcional */
  border-radius: 20px;  background-color: #7D7161;
  text-align: center;
}
.premium{
  height: 80%; /* Asegura que la tarjeta ocupe toda la altura disponible */
  width: 60%;
  display: flex;
  flex-direction: column; /* Permite que el contenido se apile verticalmente */
  justify-content: center; /* Centra el contenido verticalmente */
  padding: 16px; /* Espaciado interno */
  border: 1px solid #ccc; /* Borde opcional */
  border-radius: 20px;
  background-color: #8CAC60;
  text-align: center;
}
mat-card-content {
  padding:15px;
}
.custom-button {
  background-color: #71998F; /* Color de fondo del botón */
  padding: 8px 16px; /* Espaciado interno */
  border-radius: 20px; /* Esquinas redondeadas */
  align-self: center; /* Alinea el botón a la derecha dentro del contenedor */
  margin: 8px; /* Espacio entre el card y el botón */
  color: white !important; /* Cambia el color del texto del botón */
  cursor: pointer;

}

.custom-button:hover {
  background-color: #1f9a73; /* Color de fondo en hover */
}
mat-card-title{ padding-block-end:40px;}
